<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.trainbook.mapper.TrainOrderMainMapper">
    <resultMap type="com.ruoyi.trainbook.domain.TrainOrderMain" id="TrainOrderMainResult">
        <id     property="id"           column="id"/>
        <result property="orderNo"      column="order_no"/>
        <result property="userId"       column="user_id"/>
        <result property="scheduleId"   column="schedule_id"/>
        <result property="trainNo"      column="train_no"/>
        <result property="startStation" column="start_station"/>
        <result property="endStation"   column="end_station"/>
        <result property="departDate"   column="depart_date"/>
        <result property="totalAmount"  column="total_amount"/>
        <result property="orderStatus"  column="order_status"/>
        <result property="payTime"      column="pay_time"/>
        <result property="expireTime"   column="expire_time"/>
        <result property="createTime"   column="create_time"/>
        <result property="updateTime"   column="update_time"/>
    </resultMap>

    <sql id="selectTrainOrderMainVo">
        select id, order_no, user_id, schedule_id, train_no, start_station, end_station, depart_date,
               total_amount, order_status, pay_time, expire_time, create_time, update_time
        from train_order_main
    </sql>

    <select id="selectTrainOrderMainById" parameterType="Long" resultMap="TrainOrderMainResult">
        <include refid="selectTrainOrderMainVo"/>
        where id = #{id}
    </select>

    <select id="selectTrainOrderMainList" parameterType="com.ruoyi.trainbook.domain.TrainOrderMain" resultMap="TrainOrderMainResult">
        <include refid="selectTrainOrderMainVo"/>
        <where>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="orderNo != null and orderNo != ''">and order_no = #{orderNo}</if>
            <if test="trainNo != null and trainNo != ''">and train_no like concat('%', #{trainNo}, '%')</if>
            <if test="orderStatus != null and orderStatus != ''">and order_status = #{orderStatus}</if>
        </where>
    </select>

    <insert id="insertTrainOrderMain" parameterType="com.ruoyi.trainbook.domain.TrainOrderMain">
        insert into train_order_main
        (order_no, user_id, schedule_id, train_no, start_station, end_station, depart_date,
         total_amount, order_status, pay_time, expire_time, create_time, update_time)
        values (#{orderNo}, #{userId}, #{scheduleId}, #{trainNo}, #{startStation}, #{endStation}, #{departDate},
                #{totalAmount}, #{orderStatus}, #{payTime}, #{expireTime}, #{createTime}, #{updateTime})
    </insert>

    <update id="updateTrainOrderMain" parameterType="com.ruoyi.trainbook.domain.TrainOrderMain">
        update train_order_main
        <set>
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="scheduleId != null">schedule_id = #{scheduleId},</if>
            <if test="trainNo != null and trainNo != ''">train_no = #{trainNo},</if>
            <if test="startStation != null and startStation != ''">start_station = #{startStation},</if>
            <if test="endStation != null and endStation != ''">end_station = #{endStation},</if>
            <if test="departDate != null">depart_date = #{departDate},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="orderStatus != null and orderStatus != ''">order_status = #{orderStatus},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>

    <delete id="deleteTrainOrderMainById" parameterType="Long">
        delete from train_order_main where id = #{id}
    </delete>

    <delete id="deleteTrainOrderMainByIds" parameterType="String">
        delete from train_order_main where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>